@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.App{
  position: relative;
  margin-top: 15px;
}

.pList{
  border: solid 3px black;
}

.img{
  margin-top: 3px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.pizzas{
  width: 330px;
  text-align: center;
  margin: 2px auto;
  border: solid 3px rgba(247, 234, 121, 0.973);
  border-radius: 10px;
  font-family: 'Jua', sans-serif;
}

p{
  height: 8px;
}


.title{
  text-align: center;
  font-family: 'Jua', sans-serif;
  font-size: 30px;
}

.OrderList{
  position: absolute;
  top:110px;
  right: 230px;
  font-family: 'Jua', sans-serif;
}

a.btn {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.btn:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	margin: 10px;
	max-width: 30px;
	text-decoration: none;
	border-radius: 4px;
	padding: 10px 10px;
}

a.button {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.cList{
  right: 10px;
  margin-top: 15px;
}